body {
    font-family: Arial, sans-serif;
    background-color: color(srgb red green blue);
    text-align: center;
    margin: 0;
    padding: 0;
}
h1 {
    color: #000000;
    font-size: 2em;
    margin-top: 20px;
}
.data-container {
    background: rgb(243, 200, 200);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    background-color: #3589c0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    border-radius: 8px;
    font-size: 1em;
}

button:hover {
    background-color: #4CAF50;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

